
           /* ********** start media  max-width: 990px ************* */

@media(max-width: 990px) {
    .navcustom nav .list-bars{
        position: absolute;
        right: 20px;
        top: 27px;
        cursor: pointer;
    }
    .navcustom nav .list-bars i {
        font-size: 28px;
        color: #fcd127;
        cursor: pointer;
        z-index: 90;
    }

    .navcustom nav .list-bars .fa-times{
        display: none;
    }

    header .menu-link{
        width: 720px;
        display: none;
        background-color: #fff;
        position: absolute;
        padding: 50px 0 0 30px;
        overflow-y: scroll;
        top: 70px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    header .menu-fill{

        background-color: #fff;
        position: fixed;
        padding: 50px 190px 0 20px;
        overflow-y: scroll;
        top: 75px;
        left: 0;

        width: 1500px;
    }

.book {
    position: absolute;
    bottom: -110px;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 15px 50px 0;
    background-color: #04091e;
    display: flex;
    align-items: center;
}

.book div h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.btnbook {
    color: white;
    background-color: #f3c300;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 6px;
    font-weight: 600;
    width: 150px;
    text-align: center;
    margin-left: -14px;
    text-decoration: none;
}
.hotel-img-effect {
    width: 150%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.hotel-article a {
    position: absolute;
    bottom: 20px;
    left: 18px;
    color: white;
    background-color: #f3c300;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 6px 10px;
    font-weight: 600;
    text-decoration: none;
}
.facilities-section {
    background-image: url("../img/facilites_bg.jpg");
    background-size: cover;
    height: 920px;
    position: relative;
}
.facility {
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: rgba(249, 249, 255, 0.102);
    padding: 23px 40px 15px;
    color: #fff;
    margin-bottom: 23px;
}



}
           /* ********** end media  max-width: 990px ************* */




           /* ********** start media ipad max-width: 770px ************* */

@media(max-width: 770px) {
            .navcustom nav .list-bars{
                position: absolute;
                right: 20px;
                top: 27px;
                cursor: pointer;
            }
            .navcustom nav .list-bars i {
                font-size: 28px;
                color: #fcd127;
                cursor: pointer;
                z-index: 90;
            }

            .navcustom nav .list-bars .fa-times{
                display: none;
            }

            header .menu-link{
                width: 540px;
                display: none;
                background-color: #fff;
                position: absolute;
                padding: 50px 0 0 30px;
                overflow-y: scroll;
                top: 70px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            header .menu-fill{

                background-color: #fff;
                position: fixed;
                padding: 50px 190px 0 20px;
                overflow-y: scroll;
                top: 75px;
                left: 0;

                width: 1500px;
            }
            .book {
                position: absolute;
                bottom: -350px;
                left: 0;
                width: 100%;
                margin: auto;
                padding: 15px 50px 0;
                background-color: #04091e;
                display: flex;
                align-items: center;
            }
            .hotel-section {
                margin-top: 450px;
            }
            .hotel-img-effect {
                width: 90%;
                transition: all 1s;
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -ms-transition: all 1s;
                -o-transition: all 1s;
            }
            .hotel-article a {
                position: absolute;
                bottom: 20px;
                left: 35%;
                color: white;
                background-color: #f3c300;
                font-size: 14px;
                line-height: 30px;
                text-transform: uppercase;
                padding: 6px 10px;
                font-weight: 600;
                text-decoration: none;
            }
            .facilities-section {
                background-image: url("../img/facilites_bg.jpg");
                background-size: cover;
                height: 1260px;
                position: relative;
            }
            .facility {
                border: 1px solid #777777;
                border-radius: 10px;
                background-color: rgba(249, 249, 255, 0.102);
                padding: 23px 20px 15px;
                color: #fff;
                margin-bottom: 23px;
            }
           .serves{
                margin-bottom: 30px;
            }
            .testimonial_area{
                margin-top: 320px;
            }
            .testimonial_area h2{
                font-size: 27px;
                padding-top: 20px;
            }
            .footer .insta-fot{
                flex: 0 0 60%;
                max-width: 60%;
            }


        }
           /* ********** end media mobile ipad max-width: 770px ************* */




           /* ********** start media mobile  max-width: 500px ************* */

           @media(max-width: 500px) {
            .navcustom nav .list-bars{
                position: absolute;
                right: 25px;
                top: 27px;
                cursor: pointer;
            }
            .navcustom nav .list-bars i {
                font-size: 31px;
                color: #fcd127;
                cursor: pointer;
                z-index: 90;
            }

            .navcustom nav .list-bars .fa-times{
                display: none;
            }

            header .menu-link{
                width: 540px;
                display: none;
                background-color: #fff;
                position: absolute;
                padding: 50px 0 0 30px;
                overflow-y: scroll;
                top: 70px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            header .menu-fill{

                background-color: #fff;
                position: fixed;
                padding: 50px 190px 0 20px;
                overflow-y: scroll;
                top: 75px;
                left: 0;

                width: 1500px;
            }
            .header {
                background-image: url("../img/imeages.jpg");
                background-size: cover;
                position: relative;
                height: 700px;
            }

            .content {
                width: 300px;
                height: 100%;
                color: white;
            }

            .content h6 {

                margin-top: 40px;
            }

            .content h2 {
                font-size: 40px;
                line-height: 60px;
                font-weight: 700;
            }

            .content p {
                font-weight: 300;
                font-size: 14px;
                line-height: 24px;
                padding: 10px 0px 20px;
            }

            .content a {
                color: white;
                background-color: #f3c300;
                font-size: 14px;
                line-height: 30px;
                text-transform: uppercase;
                padding: 7px 25px;
                font-weight: 600;
                text-decoration: none;
            }

            .book {
                position: absolute;
                bottom: -348px;
                left: 0;
                width: 100%;
                margin: auto;
                padding: 15px 50px 0;
                background-color: #04091e;
                display: flex;
                align-items: center;
            }
            .btnbook {
                color: white;
                background-color: #f3c300;
                font-size: 14px;
                line-height: 30px;
                text-transform: uppercase;
                padding: 6px;
                font-weight: 600;
                width: 227px;
                text-align: center;
                margin-left: -14px;
                text-decoration: none;
            }
            .hotel-section {
                margin-top: 450px;
            }
            .hotel-content h1 {
                font-size: 26px;
                line-height: 25px;
                font-weight: 600;
                color: #222222;
            }

            .hotel-content p {
                font-size: 12px;
                line-height: 30px;
                margin: 0 5px;
                color: #777777;
            }
            .hotel-img-effect {
                width: 60%;
                transition: all 1s;
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -ms-transition: all 1s;
                -o-transition: all 1s;
            }
            .facilities-section {
                background-image: url("../img/facilites_bg.jpg");
                background-size: cover;
                height: 1180px;
                position: relative;
            }
            .facility {
                border: 1px solid #777777;
                border-radius: 10px;
                background-color: rgba(249, 249, 255, 0.102);
                padding: 10px 10px 8px;
                color: #fff;
                margin-bottom: 23px;
            }
            .serves{
                margin-bottom: 30px;
            }
            .testimonial_area{
                margin-top: 220px;
                height: 600px;
            }
            .testimonial_area h2{
                font-size: 27px;
                padding-top: 20px;
            }
            .testimonial_area p{
                color: #777777;
                margin-bottom: -40px;
            }
            .testimonial_area .row .testimonial_client{
                width: 270px ;
                margin-right: 0;
                margin-left: 15px;
                margin-top: 80px;
                background-color: #fff;
                border: 1px solid #ccc;
            }
            .testimonial_area .row .testimonial_client p{
                padding: 2px 5px 0 37px;
                color: #b1abab;
                font-weight: 500;
                font-size: 13px;
                margin-bottom: 20px;
            }
            .testimonial_area .row .testimonial_client img{
               margin: 30px -30px 0 10px;
               width: 30%;
            }
            .testimonial_area .row .testimonial_client a .sec_h4{
                margin: -10px 0 5px 35px ;
                color: #000;
                font-size: 17px;
                font-weight: bold;
                transition:all 0.3s linear;
                -webkit-transition:all 0.3s linear;
                -moz-transition:all 0.3s linear;
                -ms-transition:all 0.3s linear;
                -o-transition:all 0.3s linear;
            }
            .footer .insta-fot{
                flex: 0 0 90%;
                max-width: 90%;
            }
            .footer .caption-link a{
                text-decoration: none;
                margin: 1px;
                padding: 5px;
                font-size: 17px;
                color: #777;
               }

        }
           /* ********** end media mobile  max-width: 500px ************* */



