body {
    box-sizing: border-box;
    line-height: 24px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #777777;
    overflow-x: hidden;
    position: relative;
    /* background-color: #5a5858; */

}


.avatar{
    height: 50px;
}


.nav-link {
    color: #222222;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.header {
    background-image: url("../img/images.jpg");
    background-size: cover;
    position: relative;
    height: 700px;
}

.lyr {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* z-index: -1; */
    z-index: 1;
}

.head {
    position: absolute;
    z-index: 2323;
    top: 0;
    left: 0;
    width: 100%;
}

.content {
    width: 500px;
    height: 100%;
    color: white;
}

.content h6 {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 400;
}

.content h2 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.content p {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0px 20px;
}

.content a {
    color: white;
    background-color: #f3c300;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 10px 30px;
    font-weight: 600;
    text-decoration: none;
}

.book {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin: auto;
    padding: 40px 50px 30px;
    background-color: #04091e;
    display: flex;
    align-items: center;
}

.book div h2 {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
}

.hvr-sweep-to-right::before {
    background-color: #68ce38;
}

.custinput {
    background-color: transparent;
    border: solid 1px #2b3146;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.boxcalender{
    position: relative;
    padding: 0px ;
}
.boxcalender2 {
    position: relative;
    margin-top: -10px;



}
.datepicker{
    height: auto;
    margin: 0;
    padding: 4px;
}

.calender {
    position: absolute;
    right: 5px;
    top: 9px;
}

.nice-select {
    background-color: transparent;
    border: solid 1px #2b3146;
    border-radius: 0;
    width: 100%;
    margin-bottom: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.list {
    /* background-color: transparent; */
    /* border: solid 1px #2b3146; */
    /* border-radius: 0; */
    /* width: 100%; */
    /* margin-bottom: 10px; */
    /* -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;*/
    border-radius: 0;
}

.btnbook {
    color: white;
    background-color: #f3c300;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 6px;
    font-weight: 600;
    width: 214px;
    text-align: center;
    margin-left: -14px;
    text-decoration: none;
}

.btnbook:hover {
    text-decoration: none;
}


/* hotel section css */

.hotel-section {
    margin-top: 150px;
}

.hotel-content h1 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: #222222;

}

.hotel-content p {
    font-size: 14px;
    line-height: 30px;
    color: #777777;

}

.hotel-article {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    /* width: 100%; */
}

.hotel-img-effect {
    width: 100%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.hotel-img-effect:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.hotel-article a {
    position: absolute;
    bottom: 20px;
    left: 80px;
    color: white;
    background-color: #f3c300;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 600;
    text-decoration: none;
}
.text-center a{
    text-decoration: none;


}
.hotel-title {
    text-decoration: none;
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: #5a5858;
}
a{
    text-decoration: none;
}

.hotel-price {
    font-size: 24px;
    line-height: 28px;
    color: #52c5fd;
    font-weight: 600;
}
.hotel-price span {
    font-size: 13px;
    line-height: 28px;
    color: #52c5fd;
    font-weight: 600;
}


/* facilities section */

.facilities-section {
    background-image: url("../img/images.jpg");
    background-size: cover;
    height: 700px;
    position: relative;
}

.lyr2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(4, 8, 30, 0.8);
}


.facilities-content h1 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: rgb(60, 156, 81);
    /* padding-bottom: 18px; */
}

.facilities-content p {
    font-size: 22px;
    line-height: 30px;
    color: #bdb9b9;
    margin-bottom: 30px;
}

.facility {
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: rgba(249, 249, 255, 0.102);
    padding: 31px 40px 37px;
    color: #fff;
    margin-bottom: 30px;
}

.facility h4 i {
    color: #379424;
    font-size: 24px;
    line-height: 38px;
    padding-right: 20px;
}


                    /* ************ end facilities-content **************** */

                    /* ************ start serves **************** */

.serves{
    margin-top: 100px;
    height: 600px;

}
.serves h2 {
    margin-top: 47px;
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: #000;

}
.serves p{
    font-size: 16px;
    padding-top: 30px;

}
.serves button{
    outline: none;
    border: none;
    padding: 10px 30px;
    background-color: #222222;
    /* font-size: 18px; */
    margin-top: 30px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}
.serves img{
  width: 100%;
  height: 100%;
}


                    /* ************ end serves **************** */

                    /* ************ start testimonial  **************** */
.testimonial_area{
    margin-top: 10px;
    direction: ltr;
    background: #f9fff9;
    margin-bottom: 0;
    height: 700px;
    padding: 10px;

}
.testimonial_area h4{
    color: rgb(75, 75, 75);
 /* display: inline-block; */
    font-weight: 550;
    padding: 10px;
}
.testimonial_area p{
    color: #777777;
    margin-bottom: 20px;
}
.testimonial_area .row .testimonial_client{
    width: 500px ;
    margin-right: 33px;
    margin-top: 80px;
    background-color: #fff;
    border: 1px solid #ccc;
    /* display: inline-block; */
}
.testimonial_area .row .testimonial_client p{
    padding: 5px 50px 0 ;
    color: #b1abab;
    font-weight: 500;
    /* display: inline-block; */
}
.testimonial_area .row .testimonial_client img{
   margin: 50px -30px 0 10px;
   width: 30%;
   padding: 7px;
   height: 100px;
}
.testimonial_area .row .testimonial_client a{
    text-decoration: none;
}
.testimonial_area .row .testimonial_client a .sec_h4{
    margin: -20px 0 0 50px ;
    padding-bottom: 10px;
    color: #000;
    font-size: 23px;
    font-weight: bold;
    transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
}
.testimonial_area .row .testimonial_client a .sec_h4:hover{
    color: rgba(19, 92, 144, 0.89);
}
.testimonial_area .row .testimonial_client .star a{
    color: #379424;
}
.testimonial_area .row .testimonial_client .star a .fa-left{
    margin: 0 0 30px 50px;
}


.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 80px;
}
.owl-carousel .owl-dots .owl-dot {
    width: 14px;
    height: 14px;
    background: #eee;
    display: inline-block;
    margin: 0px 5px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.owl-carousel .owl-dots  .active{
    background: #379424;
}
.owl-carousel .owl-nav{
    display: none;
}


                    /* ************ end testimonial  **************** */




                    /* ************* start footer  *************** */
                    .footer-end{
                        border-top:1px solid rgb(34, 153, 93);
                        background: rgb(19, 19, 19);
                        position: absolute;

                        overflow: hidden;
                        width: 100%;
                      }
                      .footer-end .designer svg{
                        height: 14px;
                        font-size: 17px;
                      }
                      .footer-end .designer span {
                        font-size: 12px;
                      }
                      .footer-end .container .row {
                        color:  #adadad;
                        padding: 15px;

                      }
                      .footer-end .container i{
                        padding: 10px;
                        font-weight: bold;
                        color: #f4f4f4;
                        font-size: 16px;
                        text-align: center;
                        margin-left: 10px;
                        border-radius: 100%;
                        background: rgb(29, 29, 29);
                      }
                      .footer-end .container .row .fa-whatsapp:hover{
                        background: rgba(57, 222, 87,.7);
                        color: #fff;
                      }
                      .footer-end .container .row .fa-instagram:hover{
                        background: #FFAD33;
                        color: #fff;
                      }
                      .footer-end .container .row .fa-twitter:hover{
                        background: #62c8f8;
                        /*background: #3b5998;*/
                        color: #fff;
                      }
                      .footer-end .container .row .fa-tumblr:hover{
                        background: rgba(19, 92, 144, 0.89);
                        color: #fff;
                      }
                      .footer-end .container .row .fa-facebook-f:hover{
                        /*background: #62c8f8;*/
                        background: #3b5998;
                        color: #fff;
                      }



                      /* End footer */




                                  /* ************* end footer  *************** */
